body {
  background: #ccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  line-height: 1.5;
}

.container1 {
  padding: 10px;
}

.container2 {
  padding: 10px;
}

.container3 {
  padding: 10px;
}