body {
  background: #ccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
  line-height: 1.5;
}

p {
  padding: 15px;
}

.overflow-div {
  border: 1px solid black;
  margin: 15px;
  padding: 10px;

  white-space: nowrap;
  /* Запрещаем перенос текста на новую строку */
  overflow: hidden;
  /* Скрываем текст, который не умещается в контейнере */
  text-overflow: ellipsis;
  /* Заменяем усеченный текст многоточием */
  width: 250px;
  /* Ширина контейнера */
}


.container {
  overflow-x: auto;
  border: 1px solid #ccc;
  padding: 10px;
  white-space: nowrap;
}

.content {
  width: 600px;
}

.rectangle {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  width: 180px;
  height: 50px;
  background-color: red;
}