body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #a9a9a9;
  font-size: 20px;
  padding: 10px;
}

textarea {
  padding: 5px;
  border: 1px solid #171717;
  font-size: 15px;
}

.form {
  width: 450px;
  padding: 5px;
  margin: auto;
  background-color: #d3d1d1;
}

.group-style {
  margin-bottom: 20px;
}

.input-form {
  display: block;
  padding: 10px;
  border: 1px solid #171717;
  font-size: 15px;
}


fieldset {
  margin: 5px;
}