/*
  определение стилей для элемента <body>,
  представляет собой основное содержимое страницы.
*/
body {
    font-family: Arial, sans-serif;
    /* font-variant: small-caps; */
    /* устанавливается размер шрифта текста внутри <body>.
       В данном случае, размер 20 пикселей. */
    font-size: 20px;
    /* устанавливается высота строки (расстояние между строками текста) внутри элемента <body>.
       1.4 - значит, что высота строки будет 1.4 раза больше размера шрифта. */
    line-height: 1.4;
    /* устанавливается цвет текста внутри */
    color: #474747;
    /* устанавливается цвет фона элемента */
    background-color: #d7d7d7;
}

.article {
    /* Элемент будет иметь фиксированную ширину в 400 пикселей. */
    width: 500px;
    /* устанавливается автоматический отступ справа для элемента.
       Это также центрирует элемент по горизонтали, так как и слева,
       и справа заданы автоматические отступы. */
    margin-right: auto;
    /* устанавливает автоматический отступ слева для элемента.
       Это означает, что элемент будет выровнен по левому краю
       родительского контейнера с автоматическим */
    margin-left: auto;
}

.article-title {
    /* display, font-size */
    background-color: aqua;
    font-family: "Gill Sans", sans-serif;
    /* горизонтальное выравнивание текста внутри элементов */
    text-align: center;
    /* толщина шрифта */
    font-weight: 700;
    /* расстояние между буквами текста */
    letter-spacing: 0px;
    /*  преобразование текста в верхний регистр */
    text-transform: uppercase;
}

.article-text {
    /* Выравнивание текста по ширине. */
    text-align: justify;
    /* Удаление верхнего отступа текста. */
    margin-top: 0;
    /* Добавление 20px отступа снизу. */
    margin-bottom: 20px;
    color: #151515;
}

.text-red {
    /* Элемент будет строчным блоком. */
    /* display: inline-block; */
    /* Ширина элемента 140 пикселей. */
    /* width: 300px; */
    /* Нулевые отступы. */
    margin: 10px;
    /* Нулевые внутренние отступы. */
    padding: 0;
    color: #f00;
    /* Полужирный шрифт. */
    font-weight: 700;
    /* Курсивный стиль текста. */
    font-style: italic;

    background-color: burlywood;
    padding: 10px;
    /* border: 0px solid red; */
    outline: #474747;
    outline-color: red;
    outline-width: 2px;
    ;
}

.footer {
    /* Выравнивание текста по правому краю */
    text-align: right;
    /* курсивный стиля */
    font-style: italic;
}