html {
  font-size: 15px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #a9a9a9;
}

.box {
  width: 500px;
  font-size: 2rem;
  margin: 20px auto;
  margin: 0px auto;
  background-color: #868686;
  /* аккуратнее с rem'ами */
  padding: 1.2em;

}

.text {
  /* аккуратнее с rem'ами */
  margin: 0 0 1.5em;

}

a {
  display: inline-block;
  /* width: 200px; */
  /* height: 50px;
  line-height: 50px; */
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 0.6em 1.4em;
  border-radius: 1.5em;
}

.btn-primary {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  color: white;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-primary:hover {
  font-size: 1.1em;
  color: white;
  background-color: #0091eb;
  border-color: #0091eb;
}

.btn-secondary:hover {
  font-size: 1.1em;
  color: white;
  background-color: #88929a;
  border-color: #88929a;
}