body {
  width: 500px;
  margin: 25px auto;
  padding: 25px 10px;
  background-color: #a9a9a9;
}

p {
  margin-top: 0;
}

.columns-2 {
  color: #333;
  line-height: 1.5;
  font-size: 20px;

  text-align: justify;
  column-count: 2;
}